{% macro license_grant(licensor, licensee, licensed_rights, licensed_material) -%}
{{ licensor }} grants to {{ licensee }} {{ licensed_rights }} the {{ licensed_material }}
{%- endmacro %}
{% macro limited_license(licensor, licensee, licensed_material) -%}
{{ license_grant(
    licensor,
    licensee,
    "a non-exclusive, non-transferable, revocable license to use",
    licensed_material
    ) }}
{%- endmacro %}
{% macro unlimited_license(licensor, licensee, licensed_material) -%}
{{ license_grant(
    licensor,
    licensee,
    "a non-exclusive, fully sublicensable, freely transferable, worldwide, perpetual, irrevocable license to use",
    licensed_material
    ) }} for any purpose without any obligation to {{ licensor }}
{%- endmacro %}


## Licensing

### License grants

- {{ limited_license(terms.developer, terms.client, "Software")}} only for internal
  research purposes.
- {{ terms.client }} may sublicense the Software only to their employees, contractors,
  collaborators, or other people directly involved in their research operations, who
  must also adhere to these terms.
- By contributing any code, prompts, or ideas to the Software ("Contributions"),
  {{ unlimited_license(terms.client, terms.developer, "Contributions")}}.

### Restrictions

Unless further permissions have been granted by {{ terms.developer }}, neither
{{ terms.client }} nor their sublicensees may:

- Copy, distribute, or grant anyone else access to the Software.
- Reverse engineer, decompile, or disassemble the Software.
- Create or use any derivative works based on the Software except for any output generated by the Software.

### Software output

- {{ unlimited_license(terms.developer, terms.client, "Software Output")}}.
- Ownership of the underlying Software remains with {{ terms.developer }}. This
  license only extends to portions of the Software that are incorporated into Output,
  such as prompts and dataset text.
- This license grant only applies to a given piece of Software Output if the license to
  the Software has not been terminated when the Output is generated.
